{% extends 'base.html.twig'%}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa użytkownika</th>
                <th>E-mail</th>
                <th>Aktywny</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{u.id}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td>{%if u.isActive%} 
                        <i class=" material-icons">done</i>
                    {%else%}
                        <i class=" material-icons">shuffle</i>
                        {% endif %}
                        </td>
                        <td>    
                            <a href="#" class=""><i class="material-icons tooltipped crud-edit crud-edit" data-id="{{u.id}}" id="{{u.id}}_edit"data-position="bottom" data-delay="50" data-tooltip="Edycja" >mode_edit</i></a>
                            <a href="#" class=""><i class="material-icons tooltipped crud-delete " data-id="{{u.id}}" id="{{u.id}}_delete"data-position="bottom" data-delay="50" data-tooltip="Usuń">delete</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody> 
                </table>

                <a id="clearForm" href="#!" class="btn-floating  scale-transition ">
                    <i class="material-icons tooltipped" data-position="right" data-delay="50" data-tooltip="Nowy użytkownik">add</i>
                </a>
                <div id="loaderCustom" class="preloader-wrapper big ">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div class="card" id="userFormContainer">
                    <div class="card-content">
                        <div id="formTittle" class="card-title">Nowy użytkownik</div>
                        <div class="card-panel" style="display:none;">
                            <span id="messageContainer" class="red-text text-darken-2"></span>
                        </div>
                        {{ form_start(userForm)}}

                        <div class="input-field ">
                            <i class="material-icons prefix">account_circle</i>
                            {{form_widget(userForm.username)}}
                        </div>
                        <div class="input-field ">
                            <i class="material-icons prefix">email</i>
                            {{form_widget(userForm.email)}}
                        </div>
                        <div class="input-field ">
                            <i class="material-icons prefix">vpn_key</i>
                            {{ form_widget(userForm.plainPassword.first) }}
                        </div>
                        <div class="input-field ">
                            <i class="material-icons prefix">vpn_key</i>
                            {{ form_widget(userForm.plainPassword.second) }}
                        </div>
                        <div class="input-field checkbox-container-custom">
                            <p>
                                {{form_widget(userForm.isActive)}}
                                <label for="form_isActive">Aktywny</label>
                            </p>
                        </div>
                        <div class="card-action">
                            {{form_widget(userForm.zapisz)}}
                        </div>
                        {{ form_end(userForm) }}
                    </div>
                </div>
                <script>
                    $(document).ready(function ()
                    {
                        $('.tooltipped').tooltip({delay: 50});
                        $('#clearForm').on('click', function ()
                        {
                            clearForm();
                        });
                        // delete user by ajax
                        $('.crud-delete').on('click', function ()
                        {
                            loader(true);
                            var id = parseInt($(this).attr('data-id'));
                            $.ajax({
                                method: "POST",
                                url: "{{ url('user_delete')}}",
                                data: {id: id}
                            })
                                    .done(function (data) {
                                        if (data.status === 200) {
                                            alert(data.message);
                                            location.reload();
                                        } else
                                        {
                                            alert(data.message);
                                        }
                                    })
                                    .fail(function ()
                                    {
                                        alert("Wystąpił błąd w usuwaniu");
                                    })
                                    .always(function (jqXHR, textStatus) {
                                        loader(false);
                                    });
                        });
                        /// fill form with ajax
                        $('.crud-edit').on('click', function ()
                        {
                            loader(true);
                            var id = parseInt($(this).attr('data-id'));
                            $.ajax({
                                method: "GET",
                                url: "{{ url('user_get')}}?id=" + id,
                            })
                                    .done(function (data) {
                                        if (data.status === 201) {
                                            $('#form_id_user').val(data.user.id);
                                            $('#form_username').val(data.user.username);
                                            $('#form_email').val(data.user.email);
                                            $('#form_plainPassword_first').val(data.user.password);
                                            $('#form_isActive').prop('checked', data.user.isActive);
                                            $('#formTittle').text('Edycja użytkownika');
                                        } else
                                        {
                                            alert(data.message);
                                        }
                                    })
                                    .fail(function ()
                                    {
                                        alert("Wystąpił błąd w pobieraniu");
                                    })
                                    .always(function (jqXHR, textStatus) {
                                        loader(false);
                                    });
                        });
                        
                        //// event handling form submissions and sending json data from form
                        $('form').on('submit', function (e)
                        {
                            loader(true);
                            e.preventDefault();
                            $.ajax({
                                method: "POST",
                                url: "{{ url('user_save')}}",
                                data: $(this).serialize()
                            })
                                    .done(function (data) {
                                        if (data.status === 201) {
                                            alert(data.message);
                                            location.reload();
                                        } else
                                        {
                                            $('#messageContainer').text(data.message);
                                            $('#messageContainer').parent().slideToggle();
                                            
                                        }
                                    })
                                    .fail(function ()
                                    {
                                        alert("Wystąpił błąd w dodawaniu");
                                    })
                                    .always(function (jqXHR, textStatus) {
                                        loader(false);
                                        $('#messageContainer').parent().delay(3000).slideToggle(400);
                                    });
                        });
                    });
                    // switch on/off loaderCustom
                    function loader(on)
                    {
                        if (on) {
                            $('#loaderCustom').addClass('active');
                        } else
                        {
                            $('#loaderCustom').removeClass('active');
                        }
                    }
                    //clear form and uncheck checkbox
                    function clearForm()
                    {
                        $('#formTittle').text('Nowy użytkownik');
                        $('input').each(function () {

                            if ($(this).attr('type') === 'checkbox')
                            {
                                $(this).prop('checked', false);

                            } else {
                                $(this).val('');
                            }
                        }
                        );
                    }
                </script>
                {% endblock %}



